/* **************************************** HTML Corps ******************************** */

html{
    height: 100%;
}

body {
    background: url("../assets/media/images/autre/background.jpg") ;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

.flex-shrink-0{
    color: rgb(22 32 70 / 93%);
}

.logo {
    position: relative;
    right: 50px;
    background-color: transparent;
}

/********************************* Haut de page ******************************************/

#photo-inner {
    box-shadow: 0px 0px 20px black;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

@media screen and (max-width: 992px) {
    #photo-inner {
        display: none;
    }

    .logo {
        display: none;
    }

    .menuDrop{
        text-align-last:justify;
    }
}

t {
    font-weight: bold;
}


/* ***********************************  Barre de navigation ********************************* */

.nav-link i {
    color: #337df1;
    font-size: 40px;
    margin-bottom: 5px;
}

#navbarSupportedContent .active div{
    color: #337df1 !important;
}

@media screen and (min-width: 992px) {
    #navbarSupportedContent ul{

        border-radius: 10px 10px ;
        border: none !important;
        box-shadow: 0px 0px 10px rgb(36, 36, 36);
    }

    #navbarSupportedContent .active{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        animation: bounce 0.5s;
        border: none !important;
    }
    
}

.navbar-nav {
    width: 60%;
    margin: auto;
}

.navbar-collapse a {
    padding-top: 10px;
    margin: auto;
    width: 105px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;

}

.nav-tabs .nav-link {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* modification de la couleur des lien de la navbar*/
.navbar-light .navbar-nav .nav-link {
    color: rgba(80, 78, 78, 0.87) !important;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {transform: translateY(5px);} 
    60% {transform: translateY(-5px);} 

}

@media screen and (max-width: 992px) {
    .nav-link:hover {
        animation: bounce 0.0s;
    }
}

/* ************************************ Vue Profil / affichage en-tete  ************************************** */
#menu
{
   
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /* box-shadow: 0px 0px 25px rgb(36, 36, 36); */
    background: url("../assets/media/images/autre/bg-body.jpg") scroll;
}

@media screen and (max-width: 992px) {
    #menu div, #profilGeneral, #contentResumer, #portfolioGlobal, #contactForm
    {
        font-size: 0.8rem;
    }
}

#profilGeneral, #contentResumer, #portfolioGlobal, #contactForm
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 0px 1px rgb(36, 36, 36);
    background: url("../assets/media/images/autre/bg-body.jpg") scroll;
}

#profilGeneral h2{
    text-align: center;
}

#contentResumer h2{
    text-align: center;
}

#contactForm h2{
    text-align: center;
}

#profilGeneral span.titre{
    font-size: 17px;
}

/* *********************************** Vue Profil 2 / description expérience ************************************* */

h5,span{
    color: #2f2f2f;
}

.desc {
    padding-top: 50px;
}

.desc .p {
    color: #2f2f2f;
}

.desc .t {
    color: #34495e;
    font-size: 18px;
    font-weight: 700;
}

.desc .imp {
    padding: 6px;
    color: white;
    background: #34495e;
}

.desc .more {
    color: black;
    font-size: 12px;
}

.sm {
    font-size: 13px;
    font-style: italic;
}

.ts{
    font-size: 14px;

}

.md{
    font-size: 15px;
}

.profil label {
    font-weight: bold;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

hr {
    border-top: 1px solid #007bff;
}

/* ************************************* Résumé / skill info ************************************* */

.logoTech:not([class*=bg-]) .bg-html{ 
    color: #ec850e;
}

.logoTech:not([class*=bg-]) .bg-twig{ 
    color: #0eec19;
}

.logoTech:not([class*=bg-]) .bg-css{ 
    color: #0e49ec;
}

.logoTech:not([class*=bg-]) .bg-boots{ 
    color: #630eec;
}

.logoTech:not([class*=bg-]) .bg-js{ 
    color: #fac414;
}

.logoTech:not([class*=bg-]) .bg-php{ 
    color: #5914fa;
}

.logoTech:not([class*=bg-]) .bg-java{ 
    color: #0a8a83;
}



/********************* Partie Certificat ********************/

#allcard
{
    padding-top: 10px;
}

.card-body p
{
    font-size: 12px;
}

/* ******************************** Portfolio Page ************************************** */
#portfolioGlobal h2
{
    text-align: center;
    
}

#portfolioGlobal h4,h3
{
    text-align: center;
    text-decoration: underline;

}

.comingsoon{
    color: red;
}

/* ************************************* Contact Form *********************************** */

#maps
{
    border: 2px solid silver;
    width: 604px;
    height: 455px;
}

@media screen and (max-width : 992px) {
    #infoContact{
        text-align: center;
    }
}

iframe{
    border-width: 0px;
}

h4{
    text-align: center;
}


/********************************* Progress Bar animated **********************************/




/********************************* caroussel Page **********************************/
